<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload Using Form</title>
</head>

<body>
    <a href="/ajax">Upload using ajax</a>
    <br>
    <br>
    <form action="/post" method="post" enctype="multipart/form-data">
        <input id="in" type="file" name="image">
        <hr>
        <button type="submit">Upload to Server</button>
    </form>
</body>

</html>